
@media screen and (max-width: 992px){
    .disco {
        flex-direction: column;;
    }
    .disco>p:nth-child(odd) {
        order:1;
    }
    .disco img {
        width: 50% !important;
    }
}

@media screen and (max-width: 576px){
    aside {
        display: none !important;
    }

    nav a {
        font-size: 0.8rem !important;
    }
    #discover {
        max-width: 100%;
    }

    .formule, .guide, .contact {
        flex-direction: column;
    }

    .guid {
        max-width: 100% !important;
    }

    .reseau, .form {
        max-width: 100% !important;
    }
}

@media screen and (min-width: 1400px){
    .disco p {
        font-size: 1.3rem !important;
    }
    aside img {
        max-width: 80% !important;
    
    }
}
