
@media screen and (max-width: 992px){
    .disco {
        flex-direction: column;;
    }
    .disco>p:nth-child(odd) {
        order:1;
    }
    .disco img {
        width: 50% !important;
    }
    .formule, .guide, .contact {
        flex-direction: column;
    }

    .guid {
        max-width: 100% !important;
    }

    .reseau, .form {
        max-width: 100% !important;
    }
    nav a {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 576px){
    .conteneur {
        background-size: 200% !important;
        background-position-x: 52% !important;
        background-attachment: fixed; 
    }
    
    h1 {
        font-size: 1rem !important;
    }

    aside {
        display: none !important;
    }

    nav a {
        font-size: 0.4rem !important;
    }
    
    #discover {
        max-width: 100%;
    }

    .disco img {
        width: 80% !important;
        height: 80% !important;
    }
    
    .formule ul {
        padding: 0 2em !important;
    }
}

@media screen and (min-width: 1400px){
    .disco p {
        font-size: 1.3rem !important;
    }
    aside img {
        max-width: 80% !important;
    
    }
}
